<footer>
	<div class="row">
		<div class="col-sm-4">
		<img id="logo-footer" src="assets/images/logo.png" alt="Smiley face">			
		</div>
		<div class="col-sm-4">
			<h4 class="leyenda">Buddy's Home ®.</h4>
			<h4 class="leyenda">Creado por Sebastián Gilberto.</h4>		
		</div>
		<div class="col-sm-4">
			<div class="redes-sociales">
				<ul class="share-buttons">
					<li><a href="https://www.facebook.com" title="Compartí en Facebook" target="_blank"><img src="/assets/images/facebook-icon.png" class="img-redsocial"></a>
					<li><a href="https://www.twitter.com" title="Compartí en Twitter" target="_blank"><img src="/assets/images/twitter-icon.png" class="img-redsocial"></a>
					<li><a href="https://www.pinterest.com" title="Compartí en Pinterest" target="_blank"><img src="/assets/images/pinterest-icon.png" class="img-redsocial"></a>
					<li><a href="https://www.plus.google.com" title="Compartí en Google +" target="_blank"><img src="/assets/images/google-icon.png" class="img-redsocial"></a>
					<li><a href="https://www.tumblr.com" title="Compartí en Tumblr" target="_blank"><img src="/assets/images/tumblr-icon.png" class="img-redsocial"></a>
					<li><a href="https://www.reddit.com" title="Compartí en Reddit" target="_blank"><img src="/assets/images/reddit-icon.png" class="img-redsocial"></a>
				</ul>	
			</div>	
		</div>
</footer>

