<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/"><img id="logo-header" src="assets/images/logo.png" alt="Smiley face"></a>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="boton-menu"><a href="/guest">Invitado</a></li>
        <li class="boton-menu"><a href="/host">Anfitrión</a></li>
        <li class="boton-menu"><a href="/experiencias">Experiencias</a></li> 
        <li class="boton-menu"><a href="/contacto">Contacto</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="boton-menu"><a href="/singup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li class="boton-menu"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li class="boton-menu"><a href="/help"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
      </ul>
    </div>
  </div>
</nav>