<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Login">    

<div class="container-fluid">
  <h1>Bienvenido</h1><br>
  <p>Ingresa Usuario y Contraseña para continuar</p><br><br>
  <div class="row">
    <div class="col-sm-1"><label>Usuario</label></div>
    <div class="col-sm-2">
      <input id="user" name="user" type="text" placeholder="" size="30" required><br>
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class="row"><br>
    <div class="col-sm-1"><label>Contraseña</label></div>
    <div class="col-sm-2">
      <input id="password" name="password" type="password" placeholder="" size="30" required><br>
    </div>
    <div class="col-sm-8"></div>
  </div>
  <div class="row"><br><br>
    <div class="col-sm-1">
      <form action="/home">
        <input type="submit" value="Ingresar">
    </form>
    </div>
    <div class="col-sm-11"></div>
  </div>
</div>

</@layout.myLayout>